.money {
	width: 100%;
	// min-height: 50px;
	display: grid;
	grid: 1fr / 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}

.cash,
.bank,
.debt {
	margin: 0;
	padding: 10px 0 0;
	// border: 1px solid red;
	align-self: start;
}
