.market-table * {
	box-sizing: border-box;
}

table {
	display: grid;
	border-collapse: collapse;
	max-width: 95%;
	grid-template-columns: 60px 40px 1fr repeat(2, 60px);
	color: silver;
	margin: 0 auto;
	--evenRow: rgba(28, 28, 28, 0.664);
	--oddRow: rgba(48, 48, 48, 0.5);
}

thead,
tbody,
tr {
	display: contents;
	> :nth-child(even) td {
		background: var(--evenRow);
	}
	> :nth-child(odd) td {
		background: var(--oddRow);
	}
	.event-row td {
		background: rgba(0, 158, 158, 0.5);
	}
}

tr th,
td {
	padding: 10px 6px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}

th {
	position: sticky;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: left;
	// font-weight: normal;
	font-size: 0.85rem;
	color: rgb(0, 158, 158);
}

th:last-child {
	border: 0;
}

td {
	// color: #808080;
	// border: 1px solid rgb(0, 0, 0);
}

td.buysell-cell {
	display: grid;
	place-items: center;
	padding: 0;
	margin: 0;
}

button.buysell-button {
	// font-weight: normal;
	// border: 1px solid silver;
	border-radius: 3px;
	width: 80%;
	height: 25px;
	padding: 0;
	margin: 0;
}

td.price {
	text-align: right;
}
