.market-table * {
	box-sizing: border-box;
}

table {
	display: grid;
	border-collapse: collapse;
	max-width: 100%;
	grid-template-columns: 60px 40px 1fr repeat(2, 60px);
}

thead,
tbody,
tr {
	display: contents;
	> :nth-child(even) td {
		background: #f8f6ff;
	}
	.event-row td {
		background: #ccffd2;
	}
}

tr th,
td {
	padding: 10px 6px;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
}

th {
	position: sticky;
	top: 0;
	background: #6c7ae0;
	text-align: left;
	font-weight: normal;
	font-size: 1.1rem;
	color: white;
}

th:last-child {
	border: 0;
}

td {
	color: #808080;
	border: 1px solid rgb(224, 224, 224);
}

td.buysell-cell {
	display: grid;
	place-items: center;
	padding: 0;
	margin: 0;
}

button.buysell-button {
	font-weight: normal;
	border: 1px solid silver;
	border-radius: 3px;
	width: 80%;
	height: 25px;
	padding: 0;
	margin: 0;
}

td.price {
	text-align: right;
}
