@import "./widgetry.scss";

// *:focus {
// 	outline: none;
// }

.container {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
}

.main {
	width: 432px;
	height: 768px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 50px;
	justify-content: space-between;
	border: 1px solid black;
	z-index: 20;
}

.amounter {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
}

button {
	box-sizing: border-box;
	&:hover {
		background-color: darken($color: #fff, $amount: 15%);
		box-sizing: border-box;
	}
}
