.container {
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
}

.main {
	width: 432px;
	height: 768px;
	position: relative;
	display: grid;
	grid-template-rows: auto 50px;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
}