// https://www.cssportal.com/style-input-range/

input[type="range"] {
	height: 28px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	background: transparent;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #50555c;
	background: silver;
	border-radius: 14px;
	// border: 1px solid #9da7b5;
}
input[type="range"]::-webkit-slider-thumb {
	// box-shadow: 0px 0px 0px #ffffff;
	border: 1px solid rgb(0, 192, 192);
	height: 21px;
	width: 40px;
	border-radius: 12px;
	background: rgb(0, 158, 158);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	// background: #deebff;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #50555c;
	background: #deebff;
	border-radius: 14px;
	border: 1px solid #9da7b5;
}
input[type="range"]::-moz-range-thumb {
	// box-shadow: 0px 0px 0px #ffffff;
	border: 1px solid silver;
	height: 21px;
	width: 40px;
	border-radius: 12px;
	background: #529de1;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #deebff;
	border: 1px solid #9da7b5;
	border-radius: 28px;
	box-shadow: 0px 0px 0px #50555c;
}
input[type="range"]::-ms-fill-upper {
	background: #deebff;
	border: 1px solid #9da7b5;
	border-radius: 28px;
	box-shadow: 0px 0px 0px #50555c;
}
input[type="range"]::-ms-thumb {
	margin-top: 1px;
	// box-shadow: 0px 0px 0px #ffffff;
	border: 1px solid silver;
	height: 21px;
	width: 40px;
	border-radius: 12px;
	background: #529de1;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #deebff;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #deebff;
}
